<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Admin Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
	
	 <link rel="stylesheet" th:href="@{/verticalmenustyle.css}"> 
	
	<script type="text/javascript" th:src="@{/script.js}"></script>
	
</head>

<body>
<div th:insert="index:: headerwithoutlogout"></div>
<div class="flex-container">

<div th:insert="index:: sidemenu"></div>

	<div class="content-container">
<h3 class="text-center"> Candidate Login Form</h3>
		
				<div class="login-container">
				<h6 th:text ="${message}" class="text-danger mt-2 text-center"></h6>
					<form action="#" th:action="@{/students/candidatelogincheckdetails}" method="post" th:object="${Student}"  name="myForm" onsubmit = "validateForm()">
					  
						<div class="row">
							<div class="form-group col-md-12">
								<label for="username" class="col-form-label">UserName</label> 
								<input
									type="email" class="form-control" id="username"
									placeholder="Enter username" name = "email">
							</div>
							<div class="form-group col-md-12">
								<label for="password" class="col-form-label">Password</label> 
								<input
									type="password" class="form-control" id="password" 
									placeholder="Enter password" name = "phoneNo" min='10'>
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-success" value="submit" name = "action">
							</div>
							<!--<div class="col-md-6">
								new candidate<input type="submit" class="btn btn-primary" value="register here" name = "action">
							</div>-->

							<div class="form-group col-md-8"></div>
						</div>

					</form>
				</div>
		
	</div>
	</div>
	
	<script type="text/javascript">
    function validateForm() {
        return checkPhone();
    }
    function checkPhone() {
        var password = document.forms["myForm"]["password"].value;
        console.write(password);
        var phoneNum = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/; 
            if(password.value.match(phoneNum)) {
                return true;
            }
            else {
                document.getElementById("password").className = document.getElementById("password").className + " error";
                return false;
            }
        }
</script>

</body>

</html>